#page-output {
    align-items: center;
    
    height: 900px;
    border-bottom: 2px solid #394b68;
    overflow-y: scroll;
    div {
        margin-top: 600px;
        text-align: left !important;

    }
}
