#page-output {
    align-items: center;
    
    height: 900px;
    border-bottom: 2px solid #394b68;
    overflow-y: scroll;
    #output-container {
        margin-top: 800px;
        div {
            text-align: left !important;
        }

    }
}
