@import './modules/home';
@import './modules/buttonfactory';
@import './modules/formfactory';
@import './modules/output';

body {
    min-width: 800px;
    text-align: center;
    background-color: #e6e6e6;
}

header {
    height: 200px;
    color: white;
    background: #394b68;
    img {
        height: 100px;
        width: 100px;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 6s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 6s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 6s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;

        animation-name: spin;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

p {
    color: #394b68;
    letter-spacing: 3px;
    &:hover {
        color: black;
    }
}

.page {
    display: flex;
    justify-content: center;
    height: 900px;
    border-bottom: 2px solid #394b68;
    
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
